header{
    background-image: url("/images/bg1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed ;
    height: 100vh;

}

nav{
    text-decoration-color: black;
    color: transparent;
    display: flex;
    font-size: 200%;
    gap: 300px;
    flex-direction: row;
    align-items: end;
    justify-content:center;
    list-style-type: none;
}
   
.nav-bar{  
    font-size: xx-large;
    font-style: bold;
    color: rgb(228, 69, 15);
    background-color: transparent;
}
#text-maroon{
    color: coral;
    font-size: larger;
    font-style: italic;
   
}
.header-text{
    color: maroon;
    display: flex;
    font-size: 200%;
    flex-direction:column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 100%;
    width: 50%;
    margin: auto;
}

.button-class{
    background: transparent;
    gap: 50px;
    text-decoration: none;
    font-size:xx-large;
}


.navlinks{ 
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.navlinks li{
    list-style-type: none;
}

.navlinks a{
    text-decoration: none;
    color: black;
}

